footer {
  width: 100%;
  position: absolute !important;
  bottom: 0;

  p {
    color: #3d3d3d;
    font-weight: 300;
    font-size: 15.5px;
  }
}

@media screen and (max-width: 768px){
  footer {
    margin-top: 18px;
    position: static !important;
    bottom: auto;
  }
}