.fun-page {
  padding-top: 10px;
  min-height: 80vh;

  .page-head {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
  }

  .page-icon {
    display: inline-block;
    width: 60px;
    text-align: center;
    margin-left: 16px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .page-title {
    color: #191919;
    font-size: 16px;
  }

  .back-btn {
    font-size: 17px;
    margin-right: auto;

    &:hover {
      text-decoration: none;
    }

    img {
      vertical-align: middle;
    }
  }

  .content-box {
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 0 9.3px 0.7px rgba(0, 0, 0, 0.13);
    margin-top: 20vh;
    padding: 30px;

    p {
      font-size: 22px;
      color: rgb(0, 0, 0);
      line-height: 1.946;
      word-wrap: break-word;

      &.poetry {
        line-height: 1.85;
        font-size: 19px;
      }

      img {
        float: right;
        max-height: 200px;
        margin-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .fun-page {
    background: none !important;

    .page-head {
    }

    .page-icon {
    }

    .page-title {
      display: none;
    }

    .back-btn {
      font-size: 18px;
    }

    .content-box {
      padding: 15px;
      margin-top: 5vh;

      p {
        font-size: 17px;

        &.poetry {
          line-height: 1.9;
          font-size: 17px;
        }

        img {
          max-width: 100%;
          margin-bottom: 10px;
          float: none;
          display: block;
        }
      }
    }
  }
}