.fun-page {
  &.fun-fact {
    background: url("./assets/images/bg/fun-fact.png")
    no-repeat 5% 40px;
  }

  &.joke {
    background: url("./assets/images/bg/joke.png")
    no-repeat 5% 80px;
  }

  &.marry {
    background: url("./assets/images/bg/marry.png")
    no-repeat 5% 30px;
  }

  &.far-galaxy {
    background: url("./assets/images/bg/galaxy.png")
    no-repeat 5% 10px;
  }

  &.devil {
    background: url("./assets/images/bg/devil.png")
    no-repeat 5% 10px;
    background-size: 600px;
  }
}