.fun-page {
  &.fun-fact {
    background: url("./assets/images/bg/fun-fact.png")
    no-repeat 195px 70px;
  }

  &.joke {
    background: url("./assets/images/bg/joke.png")
    no-repeat 110px 100px;
  }

  &.marry {
    background: url("./assets/images/bg/marry.png")
    no-repeat 100px 100px;
  }

  &.far-galaxy {
    .content-box {
      margin-top: 5vh;
      max-height: 480px;
      overflow-y: auto;
    }
  }

  &.devil {
    background: url("./assets/images/bg/devil.png")
    no-repeat 140px 36px;
  }
}