@font-face {
    font-family: Mikhak;
    src: url('Mikhak-Medium.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: Mikhak;
    src: url('Mikhak-Bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: Mikhak;
    src: url('Mikhak-Light.woff2') format('woff2'),;
    font-weight: 300;
}