@import "vars";

body {
  background-color: #e9e9e9;
  text-align: right;
  font-family: $main-font;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}


.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:focus, &:hover {
    text-decoration: none;
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border: 1px #28a745 solid;

  &:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}